html{
    box-sizing: border-box; 
    scroll-behavior: smooth;
}

*, *:before, *:after{
    box-sizing: inherit;
}

body{
    font-family: sans-serif; 
    background-color: #000;
    color:#fff;
    margin:0;
}

main{
    background-image: linear-gradient(to top, #4b003b, black 12%);
    padding: 1px 0px 20px 0px;
    margin:0 auto;
}

img{
    max-width:100%;
}

/*-----------------------.main-header/Nav Section-------------------------*/

.main-header nav{
  text-align: right;
  padding: 20px 20px 0px 0px;
  letter-spacing: 5px;
}

.main-header nav ul li{
  display: inline;
  margin:35px;
  text-transform: uppercase;
}

.main-header nav ul li a{
  color: #fff;
  text-decoration: none;
}

.main-header nav ul li a.current-page{
  background-color:#5f3c57;
  padding: 10px 25px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

.main-header nav ul li a:hover{
  background-color: #fff;
  color: #4b003b;
  transition: .2s;
  padding: 15px 30px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
}

.header-section{
    padding:60px 0px 0px 0px;
  }
  
  .header-section h1{
      text-align: left;
      padding: 0px 0px 1px 60px;
      font-size: 35px;
      letter-spacing: 10px;
      text-transform: uppercase;
  }

  .cont-soc{
    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:10px;
  }

  .contact{
    padding:0px 0px 0px 200px;
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap:10px;
  }

  .contact h2{
    font-size:18px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .contact ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
  }

  .contact li{
    padding:0px 0px 20px 0px;
  }

  .contact li a{
    text-decoration:none;
    color:#fff;
  }

  .contact li a:hover{
    color:#b377a5;
  }

  .socials{
    padding:0px 0px 0px 200px;
    display:grid;
    grid-template-columns:repeat(1,1fr);
    gap:10px;
  }

  .socials h2{
    font-size:18px;
    letter-spacing: 5px;
    text-transform: uppercase;
  }

  .socials ul{
    margin:0px;
    padding:0px;
    list-style-type: none;
  }
  
  .socials li{
    display:inline;
    padding:0px 22px 20px 0px;
  }
  

/*-----------------------Footer Section-------------------------*/

footer{
  padding: 50px 0px 20px 0px;
}

footer nav{
  text-align: center;
  padding: 20px 20px 0px 0px;
  letter-spacing: 5px;
}

footer nav ul li{
  display: inline;
  margin:35px;
  text-transform: uppercase;
}

footer nav ul li a{
  color: #fff;
  text-decoration: none;
}

footer nav ul li a.current-page{
  background-color:#5f3c57;
  padding: 10px 25px;
}

footer nav ul li a:hover{
  background-color: #fff;
  color: #4b003b;
  transition: .2s;
  padding: 15px 30px;
}

.mobile-link{
  display:none;
}



  @media screen and (max-width: 910px) {

    header{
        background: #000;
    }
  
    .main-nav{
        background-image: linear-gradient(to top, #000, #4b003b 55%);
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        margin:0 auto;
    }
  
    .main-nav a {
        float: none;
        display: block;
        text-align: center;
    }
  
      footer{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        margin:0 auto;
    }
  
    footer a {
        float: none;
        display: block;
        text-align: center;
      }
  
    .desktop-link{
        display:none;
    }
  
    .mobile-link{
        display:inline;
    }
    }

    @media screen and (max-width: 770px){

      .cont-soc{
        display:grid;
        grid-template-columns:repeat(1,1fr);
        gap:10px;
      }
    }